name: First Workflow

on:
  workflow_dispatch:
    inputs:
      username:
        type: string
        default: "Tushar"
        required: false
      time_of_day:
        type: choice
        description: "Select time of day"
        options:
          - morning
          - afternoon
        default: morning
        required: true

jobs:
  morning:
    if: ${{ github.event.inputs.time_of_day == 'morning' }}
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Good Morning ${{github.event.inputs.username}}" \
          && echo "$GITHUB_EVENT_NAME"
  afternoon:
    if: ${{ github.eventinputs.time_of_day == 'afternoon' }}
    runs-on: ubuntu-latest
    steps:
      - run: echo "Good Afternoon ${{github.event.inputs.username}}"