name: First Workflow

on:
  workflow_dispatch:
    inputs:
      username:
        type: string
        default: "Tushar"
        required: false
      time_of_day:
        type: choice
        description: "Select time of day"
        options:
          - morning
          - afternoon
        default: morning
        required: true
env:
  WF_GREETING: "WORKFLOW SAYS HELLO"
jobs:
  morning:
    if: ${{ github.event.inputs.time_of_day == 'morning' }}
    runs-on: ubuntu-24.04
    env:
      JOB_GREETING: "JOB SAYS HELLO"
    steps:
      - name: Morning - Greet User - Step 1
        id: greet-1
        env:
          STEPS_GREETING: "STEP SAYS HELLO"
        run: |
          echo "Greet - 1 ${{ env.WF_GREETING }} | ${{ env.JOB_GREETING }} | ${{ env.STEPS_GREETING }}, ${{github.event.inputs.username}}!"
      - name: Morning - Greet User - Step 2
        id: greet-2
        run: |
          echo "Greet - 2 ${{ env.WF_GREETING }} | ${{ env.JOB_GREETING }} | ${{ env.STEPS_GREETING }}, ${{github.event.inputs.username}}!"
  afternoon:
    runs-on: ubuntu-latest
    needs: morning
    steps:
      - name: Afternoon - Greet User - Step 1
        id: greet-1
        run: |
          echo "Greet - 1 ${{ env.WF_GREETING }} | ${{ env.JOB_GREETING }} | ${{ env.STEPS_GREETING }}, ${{github.event.inputs.username}}!"
      - name: Afternoon - Greet User - Step 2
        id: greet-2
        run: |
          echo "Greet - 2 ${{ env.WF_GREETING }} | ${{ env.JOB_GREETING }} | ${{ env.STEPS_GREETING }}, ${{github.event.inputs.username}}!"