name: First Workflow

on:
  workflow_dispatch:
    inputs:
      username:
        type: string
        default: "Tushar"
        required: false

jobs:
  morning:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Good Morning ${{inputs.username}}"
  afternoon:
    runs-on: ubuntu@latest
    steps:
      - run: echo "Good Afternoon ${{inputs.username}}"
    needs:
      - morning