name: First Workflow

on:
  workflow_dispatch

input:
  username:
    type: string
    default: "Tushar"
    required: false

jobs:
  say-hello:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Hello ${{inputs.username}}"
